### Título

In [4]:
# Importação das bibliotecas
import pandas as pd

In [7]:
df = pd.read_csv('caso.csv')

In [8]:
df.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-05-03,SE,NaN,state,730,14,40,True,2298696.0,28.0,31.75714,0.0192
1,2020-05-02,SE,NaN,state,601,14,39,False,2298696.0,28.0,26.14526,0.0233
2,2020-05-01,SE,NaN,state,517,14,38,False,2298696.0,28.0,22.49101,0.0271
3,2020-04-30,SE,NaN,state,453,14,37,False,2298696.0,28.0,19.70683,0.0309
4,2020-04-28,SE,NaN,state,280,11,36,False,2298696.0,28.0,12.18082,0.0393

In [9]:
df.shape

(49109, 12)

In [10]:
df.columns

Index(['date', 'state', 'city', 'place_type', 'confirmed', 'deaths',
       'order_for_place', 'is_last', 'estimated_population_2019',
       'city_ibge_code', 'confirmed_per_100k_inhabitants', 'death_rate'],
      dtype='object')

In [11]:
df["place_type"].value_counts()

city     47753
state     1356
Name: place_type, dtype: int64

In [13]:
df.count()

date                              49109
state                             49109
city                              47753
place_type                        49109
confirmed                         49109
deaths                            49109
order_for_place                   49109
is_last                           49109
estimated_population_2019         48501
city_ibge_code                    48501
confirmed_per_100k_inhabitants    47520
death_rate                        49109
dtype: int64

In [19]:
df.sort_values(by = 'date', ascending = False)

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,confirmed_per_100k_inhabitants,death_rate
30903,2020-05-04,MS,NaN,state,274,10,52,True,2778986.0,9.85971,0.0365
36275,2020-05-04,MG,Alterosa,city,1,0,6,True,14466.0,6.91276,0.0000
22659,2020-05-04,PR,Planaltina do Paraná,city,7,0,16,True,4263.0,164.20361,0.0000
36294,2020-05-04,MG,Araguari,city,9,1,34,True,117267.0,7.67479,0.1111
22675,2020-05-04,PR,Ponta Grossa,city,19,0,45,True,351736.0,5.40178,0.0000
4010,2020-05-04,RS,Santo Antônio da Patrulha,city,2,0,44,True,42894.0,4.66266,0.0000
22720,2020-05-04,PR,Prado Ferreira,city,3,0,7,True,3753.0,79.93605,0.0000
22727,2020-05-04,PR,Primeiro de Maio,city,2,1,29,True,11123.0,17.98076,0.5000
22756,2020-05-04,PR,Quatiguá,city,2,1,38,True,7449.0,26.84924,0.5000
36283,2020-05-04,MG,Além Paraíba,city,7,0,11,True,35362.0,19.79526,0.0000
22794,2020-05-04,PR,Quatro Barras,city,2,0,34,True,23559.0,8.48932,0.0000
36281,2020-05-04,MG,Alto Jequitibá,city,1,0,2,True,8317.0,12.02357,0.0000
22828,2020-05-04,PR,Querência do Norte,city,7,0,13,True,12206.0,57.34884,0.0000
22841,2020-05-04,PR,Quitandinha,city,2,0,28,True,19049.0,10.49924,0.0000
22869,2020-05-04,PR,Ramilândia,city,1,0,16,True,4451.0,22.46686,0.0000
22627,2020-05-04,PR,Piraquara,city,10,0,32,True,113036.0,8.84674,0.0000
36248,2020-05-04,MG,Alpercata,city,1,0,27,True,7424.0,13.46983,0.0000
22885,2020-05-04,PR,Ribeirão do Pinhal,city,1,1,7,True,13029.0,7.67519,1.0000
22892,2020-05-04,PR,Rio Branco do Sul,city,4,0,36,True,32397.0,12.34682,0.0000
36228,2020-05-04,MG,Almenara,city,6,0,20,True,41896.0,14.32118,0.0000
22928,2020-05-04,PR,Rio Negro,city,3,0,39,True,34170.0,8.77963,0.0000
22967,2020-05-04,PR,Rolândia,city,3,0,31,True,66580.0,4.50586,0.0000
36193,2020-05-04,MG,Alfenas,city,6,0,35,True,79996.0,7.50038,0.0000
30146,2020-05-04,PE,Poção,city,1,0,16,True,11302.0,8.84799,0.0000
36192,2020-05-04,MG,Aimorés,city,1,0,1,True,25167.0,3.97346,0.0000
23019,2020-05-04,PR,Santa Fé,city,7,1,30,True,12037.0,58.15403,0.1429
36169,2020-05-04,MG,Abaeté,city,1,0,23,True,23237.0,4.30348,0.0000
4054,2020-05-04,RS,Santo Cristo,city,1,0,22,True,14257.0,7.01410,0.0000
36328,2020-05-04,MG,Araxá,city,4,1,21,True,106229.0,3.76545,0.2500
22596,2020-05-04,PR,Pinhão,city,2,0,31,True,32391.0,6.17455,0.0000
...,...,...,...,...,...,...,...,...,...,...,...
19497,2020-03-06,RJ,Rio de Janeiro,city,1,0,1,False,6718903.0,0.01488,0.0000
17757,2020-03-06,RJ,NaN,state,2,0,2,False,17264943.0,0.01158,0.0000
45264,2020-03-06,BA,Feira de Santana,city,1,0,1,False,614872.0,0.16264,0.0000
34656,2020-03-06,ES,NaN,state,1,0,2,False,4018650.0,0.02488,0.0000
5313,2020-03-06,SP,NaN,state,10,0,11,False,45919049.0,0.02178,0.0000
17958,2020-03-06,RJ,Barra Mansa,city,1,0,2,False,184412.0,0.54226,0.0000
44088,2020-03-06,BA,NaN,state,1,0,1,False,14873064.0,0.00672,0.0000
5314,2020-03-05,SP,NaN,state,6,0,10,False,45919049.0,0.01307,0.0000
17959,2020-03-05,RJ,Barra Mansa,city,1,0,1,False,184412.0,0.54226,0.0000
34657,2020-03-05,ES,NaN,state,1,0,1,False,4018650.0,0.02488,0.0000
11866,2020-03-05,SP,São Paulo,city,6,0,10,False,12252023.0,0.04897,0.0000
17758,2020-03-05,RJ,NaN,state,1,0,1,False,17264943.0,0.00579,0.0000
5315,2020-03-04,SP,NaN,state,3,0,9,False,45919049.0,0.00653,0.0000
11867,2020-03-04,SP,São Paulo,city,3,0,9,False,12252023.0,0.02449,0.0000
5316,2020-03-03,SP,NaN,state,2,0,8,False,45919049.0,0.00436,0.0000
11868,2020-03-03,SP,São Paulo,city,2,0,8,False,12252023.0,0.01632,0.0000
5317,2020-03-02,SP,NaN,state,2,0,7,False,45919049.0,0.00436,0.0000
11869,2020-03-02,SP,São Paulo,city,2,0,7,False,12252023.0,0.01632,0.0000
5318,2020-03-01,SP,NaN,state,2,0,6,False,45919049.0,0.00436,0.0000
11870,2020-03-01,SP,São Paulo,city,2,0,6,False,12252023.0,0.01632,0.0000
11871,2020-02-29,SP,São Paulo,city,2,0,5,False,12252023.0,0.01632,0.0000
5319,2020-02-29,SP,NaN,state,2,0,5,False,45919049.0,0.00436,0.0000
11872,2020-02-28,SP,São Paulo,city,2,0,4,False,12252023.0,0.01632,0.0000
5320,2020-02-28,SP,NaN,state,2,0,4,False,45919049.0,0.00436,0.0000
5321,2020-02-27,SP,NaN,state,1,0,3,False,45919049.0,0.00218,0.0000
11873,2020-02-27,SP,São Paulo,city,1,0,3,False,12252023.0,0.00816,0.0000
11874,2020-02-26,SP,São Paulo,city,1,0,2,False,12252023.0,0.00816,0.0000
5322,2020-02-26,SP,NaN,state,1,0,2,False,45919049.0,0.00218,0.0000
5323,2020-02-25,SP,NaN,state,1,0,1,False,45919049.0,0.00218,0.0000
11875,2020-02-25,SP,São Paulo,city,1,0,1,False,12252023.0,0.00816,0.0000

In [17]:
# Deletar uma coluna
df.drop(columns = 'city_ibge_code', inplace = True)

In [18]:
df.columns

Index(['date', 'state', 'city', 'place_type', 'confirmed', 'deaths',
       'order_for_place', 'is_last', 'estimated_population_2019',
       'confirmed_per_100k_inhabitants', 'death_rate'],
      dtype='object')

In [21]:
df[df["date"] == '2020-05-04']

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,confirmed_per_100k_inhabitants,death_rate
1098,2020-05-04,RS,NaN,state,1768,76,53,True,11377239.0,15.53980,0.0430
1151,2020-05-04,RS,Ajuricaba,city,1,0,22,True,7024.0,14.23690,0.0000
1173,2020-05-04,RS,Alegrete,city,1,0,34,True,73589.0,1.35890,0.0000
1207,2020-05-04,RS,Alvorada,city,14,1,47,True,210305.0,6.65700,0.0714
1254,2020-05-04,RS,Anta Gorda,city,2,0,42,True,5981.0,33.43922,0.0000
1296,2020-05-04,RS,Arroio do Meio,city,12,0,16,True,20805.0,57.67844,0.0000
1312,2020-05-04,RS,Arroio do Sal,city,2,1,30,True,10065.0,19.87084,0.5000
1342,2020-05-04,RS,Arroio dos Ratos,city,3,0,27,True,14151.0,21.19992,0.0000
1369,2020-05-04,RS,Arvorezinha,city,1,0,10,True,10424.0,9.59325,0.0000
1379,2020-05-04,RS,Bagé,city,29,0,47,True,121143.0,23.93865,0.0000
1426,2020-05-04,RS,Barros Cassal,city,1,0,3,True,11199.0,8.92937,0.0000
1429,2020-05-04,RS,Bento Gonçalves,city,65,3,46,True,120454.0,53.96251,0.0462
1475,2020-05-04,RS,Boa Vista do Sul,city,1,0,5,True,2783.0,35.93245,0.0000
1480,2020-05-04,RS,Bom Retiro do Sul,city,12,0,26,True,12328.0,97.33939,0.0000
1506,2020-05-04,RS,Cachoeira do Sul,city,2,0,39,True,82201.0,2.43306,0.0000
1545,2020-05-04,RS,Cachoeirinha,city,17,0,35,True,130293.0,13.04752,0.0000
1580,2020-05-04,RS,Camaquã,city,1,0,42,True,66261.0,1.50918,0.0000
1622,2020-05-04,RS,Campestre da Serra,city,1,0,11,True,3388.0,29.51594,0.0000
1633,2020-05-04,RS,Campinas do Sul,city,1,0,13,True,5454.0,18.33517,0.0000
1646,2020-05-04,RS,Campo Bom,city,4,0,53,True,66712.0,5.99592,0.0000
1699,2020-05-04,RS,Candelária,city,2,0,20,True,31365.0,6.37653,0.0000
1719,2020-05-04,RS,Candiota,city,1,0,8,True,9584.0,10.43406,0.0000
1727,2020-05-04,RS,Canguçu,city,2,0,38,True,56045.0,3.56856,0.0000
1765,2020-05-04,RS,Canoas,city,29,2,45,True,346616.0,8.36661,0.0690
1810,2020-05-04,RS,Canudos do Vale,city,2,0,3,True,1716.0,116.55012,0.0000
1813,2020-05-04,RS,Capão da Canoa,city,7,0,43,True,53049.0,13.19535,0.0000
1856,2020-05-04,RS,Capão do Leão,city,1,0,35,True,25354.0,3.94415,0.0000
1891,2020-05-04,RS,Carazinho,city,14,0,16,True,62110.0,22.54065,0.0000
1907,2020-05-04,RS,Carlos Barbosa,city,18,0,45,True,29833.0,60.33587,0.0000
1952,2020-05-04,RS,Caxias do Sul,city,54,1,51,True,510906.0,10.56946,0.0185
...,...,...,...,...,...,...,...,...,...,...,...
48668,2020-05-04,AL,Limoeiro de Anadia,city,1,1,12,True,28635.0,3.49223,1.0000
48680,2020-05-04,AL,Maceió,city,1260,46,55,True,1018948.0,123.65695,0.0365
48735,2020-05-04,AL,Maragogi,city,9,1,11,True,32704.0,27.51957,0.1111
48746,2020-05-04,AL,Marechal Deodoro,city,36,2,32,True,51901.0,69.36283,0.0556
48778,2020-05-04,AL,Maribondo,city,2,1,14,True,13264.0,15.07841,0.5000
48792,2020-05-04,AL,Matriz de Camaragibe,city,1,1,9,True,24642.0,4.05811,1.0000
48801,2020-05-04,AL,Messias,city,1,1,1,True,17856.0,5.60036,1.0000
48802,2020-05-04,AL,Murici,city,25,1,16,True,28236.0,88.53945,0.0400
48818,2020-05-04,AL,Novo Lino,city,1,0,5,True,12690.0,7.88022,0.0000
48823,2020-05-04,AL,Olho d'Água das Flores,city,1,0,10,True,21688.0,4.61084,0.0000
48833,2020-05-04,AL,Palestina,city,1,0,7,True,5011.0,19.95610,0.0000
48840,2020-05-04,AL,Palmeira dos Índios,city,18,0,29,True,73218.0,24.58412,0.0000
48869,2020-05-04,AL,Paripueira,city,2,2,12,True,13176.0,15.17911,1.0000
48881,2020-05-04,AL,Paulo Jacinto,city,1,1,6,True,7564.0,13.22052,1.0000
48887,2020-05-04,AL,Penedo,city,2,0,7,True,63683.0,3.14056,0.0000
48894,2020-05-04,AL,Piaçabuçu,city,4,0,11,True,17827.0,22.43788,0.0000
48905,2020-05-04,AL,Pilar,city,9,1,15,True,35111.0,25.63299,0.1111
48920,2020-05-04,AL,Porto Calvo,city,2,0,10,True,27165.0,7.36241,0.0000
48930,2020-05-04,AL,Porto Real do Colégio,city,1,0,41,True,20066.0,4.98355,0.0000
48971,2020-05-04,AL,Rio Largo,city,32,1,20,True,75120.0,42.59851,0.0312
48991,2020-05-04,AL,Santa Luzia do Norte,city,5,0,11,True,7296.0,68.53070,0.0000
49002,2020-05-04,AL,Santana do Ipanema,city,1,0,4,True,47654.0,2.09846,0.0000
49006,2020-05-04,AL,Satuba,city,19,0,21,True,13828.0,137.40237,0.0000
49027,2020-05-04,AL,São Miguel dos Campos,city,6,1,11,True,61251.0,9.79576,0.1667
49038,2020-05-04,AL,São Miguel dos Milagres,city,2,1,17,True,7951.0,25.15407,0.5000
49055,2020-05-04,AL,São Sebastião,city,4,0,10,True,34152.0,11.71234,0.0000
49065,2020-05-04,AL,Taquarana,city,3,0,5,True,19980.0,15.01502,0.0000
49070,2020-05-04,AL,Teotônio Vilela,city,1,0,3,True,44169.0,2.26403,0.0000
49073,2020-05-04,AL,União dos Palmares,city,11,1,19,True,65611.0,16.76548,0.0909
49092,2020-05-04,AL,Viçosa,city,1,1,17,True,25733.0,3.88606,1.0000

In [27]:
df[(df['city'] == 'Luziânia')]

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,confirmed_per_100k_inhabitants,death_rate
33886,2020-05-03,GO,Luziânia,city,13,3,40,True,208299.0,6.24103,0.2308
33887,2020-05-02,GO,Luziânia,city,13,3,39,False,208299.0,6.24103,0.2308
33888,2020-05-01,GO,Luziânia,city,13,3,38,False,208299.0,6.24103,0.2308
33889,2020-04-30,GO,Luziânia,city,13,3,37,False,208299.0,6.24103,0.2308
33890,2020-04-29,GO,Luziânia,city,13,3,36,False,208299.0,6.24103,0.2308
33891,2020-04-28,GO,Luziânia,city,13,3,35,False,208299.0,6.24103,0.2308
33892,2020-04-27,GO,Luziânia,city,11,3,34,False,208299.0,5.28087,0.2727
33893,2020-04-26,GO,Luziânia,city,11,2,33,False,208299.0,5.28087,0.1818
33894,2020-04-25,GO,Luziânia,city,11,2,32,False,208299.0,5.28087,0.1818
33895,2020-04-24,GO,Luziânia,city,9,2,31,False,208299.0,4.32071,0.2222
33896,2020-04-23,GO,Luziânia,city,9,2,30,False,208299.0,4.32071,0.2222
33897,2020-04-22,GO,Luziânia,city,9,2,29,False,208299.0,4.32071,0.2222
33898,2020-04-21,GO,Luziânia,city,9,2,28,False,208299.0,4.32071,0.2222
33899,2020-04-20,GO,Luziânia,city,10,2,27,False,208299.0,4.80079,0.2000
33900,2020-04-19,GO,Luziânia,city,10,2,26,False,208299.0,4.80079,0.2000
33901,2020-04-18,GO,Luziânia,city,8,2,25,False,208299.0,3.84063,0.2500
33902,2020-04-17,GO,Luziânia,city,8,2,24,False,208299.0,3.84063,0.2500
33903,2020-04-16,GO,Luziânia,city,8,2,23,False,208299.0,3.84063,0.2500
33904,2020-04-15,GO,Luziânia,city,8,2,22,False,208299.0,3.84063,0.2500
33905,2020-04-14,GO,Luziânia,city,8,2,21,False,208299.0,3.84063,0.2500
33906,2020-04-13,GO,Luziânia,city,8,2,20,False,208299.0,3.84063,0.2500
33907,2020-04-12,GO,Luziânia,city,8,2,19,False,208299.0,3.84063,0.2500
33908,2020-04-11,GO,Luziânia,city,8,2,18,False,208299.0,3.84063,0.2500
33909,2020-04-10,GO,Luziânia,city,6,1,17,False,208299.0,2.88047,0.1667
33910,2020-04-09,GO,Luziânia,city,6,1,16,False,208299.0,2.88047,0.1667
33911,2020-04-08,GO,Luziânia,city,6,1,15,False,208299.0,2.88047,0.1667
33912,2020-04-07,GO,Luziânia,city,6,1,14,False,208299.0,2.88047,0.1667
33913,2020-04-06,GO,Luziânia,city,6,1,13,False,208299.0,2.88047,0.1667
33914,2020-04-05,GO,Luziânia,city,1,1,12,False,208299.0,0.48008,1.0000
33915,2020-04-04,GO,Luziânia,city,1,1,11,False,208299.0,0.48008,1.0000
33916,2020-04-03,GO,Luziânia,city,1,1,10,False,208299.0,0.48008,1.0000
33917,2020-04-02,GO,Luziânia,city,1,1,9,False,208299.0,0.48008,1.0000
33918,2020-04-01,GO,Luziânia,city,1,1,8,False,208299.0,0.48008,1.0000
33919,2020-03-31,GO,Luziânia,city,1,1,7,False,208299.0,0.48008,1.0000
33920,2020-03-30,GO,Luziânia,city,1,1,6,False,208299.0,0.48008,1.0000
33921,2020-03-29,GO,Luziânia,city,1,1,5,False,208299.0,0.48008,1.0000
33922,2020-03-28,GO,Luziânia,city,1,1,4,False,208299.0,0.48008,1.0000
33923,2020-03-27,GO,Luziânia,city,1,1,3,False,208299.0,0.48008,1.0000
33924,2020-03-26,GO,Luziânia,city,1,1,2,False,208299.0,0.48008,1.0000
33925,2020-03-25,GO,Luziânia,city,1,0,1,False,208299.0,0.48008,0.0000

In [33]:
# Mortos no estado de GO, 850
df[(df["state"] == 'GO') & (df['date'] == '2020-05-03') & (df["city"].isna())]

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,confirmed_per_100k_inhabitants,death_rate
32959,2020-05-03,GO,NaN,state,850,30,53,True,7018354.0,12.1111,0.0353

In [35]:
# Mortos no estado de GO, somando a quantidade dos municípios
df[(df["state"] == 'GO') & (df['date'] == '2020-05-03') & (df["city"].notna())]['confirmed'].sum()

850

In [38]:
# Verificar entre as cidades com menos de 100.000 habitantes, qual a que registrou mais casos
df[df['estimated_population_2019'] <= 100000].sort_values('confirmed', ascending = False).head(1)

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,confirmed_per_100k_inhabitants,death_rate
47865,2020-05-03,AM,Manacapuru,city,551,33,38,True,97377.0,565.84204,0.0599